.navbar_component{
  background-color: #024AAD !important;
  height: 100px;
}

.navbar_column{
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.navbar_column .navbar-brand img{
  width: 60px;
}


.navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-nav .nav-item a{
  text-decoration: none !important;
  font-family: 'Archivo',sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFF !important;
  margin: 0 10px;
}

.navbar-nav .nav-item a:hover{
  color: #ed8d4b !important;
}


@media (max-width: 500px){
  .navbar_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
  }

  .navbar-nav{
    display: flex;
    flex-direction: column;
  }
}