.list-jobs_container--activate{
  height: 100%;
}

.list-jobs_container--disabled{
  height: auto;
}


.list-jobs_container--disabled .list-jobs_button{
  width: 100%;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.list-jobs_container--disabled .list-jobs_button:hover{
  background: green;
  opacity: 0.6;
}



.media-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-jobs_label{
  font-family: 'Archivo',sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #133581;
  margin-bottom: 20px;
}




@media(max-width: 650px){
  .media-body{
    display: flex;
  }

}