.list-jobs_container{
  height: 100vh;
}

.media-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.list-jobs_label{
  font-family: 'Archivo',sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #133581;
  margin-bottom: 20px;
}




@media(max-width: 650px){
  .media-body{
    display: flex;
  }

}